.title{
    text-align: center;
}
.newDoc{
    text-align: center;
}
button {
    background-color: transparent;
    width: 110px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}